/* -----------------------------------------------------------------------------
    Meyer's reset 2.0
----------------------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// -----------------------------------------------------------------------------
//    SASS Mixins and Variables
// -----------------------------------------------------------------------------

@mixin transition($transition: all 150ms ease-out) {
   -webkit-transition: $transition;       /* Chrome 1-25, Safari 3.2+ */
       -moz-transition: $transition;      /* Firefox 4-15 */
           -o-transition: $transition;    /* Opera 10.50–12.00 */
             transition: $transition;     /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

@mixin clearfix {
    *zoom: 1;

    &:before, &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

$light-brown: #fffaf2;
$dark-brown: #FFD7B3;
$dark-blue: #0086E9;
$light-blue: e4f3fc;

/* -----------------------------------------------------------------------------
    Global
----------------------------------------------------------------------------- */

/* Typography */

a { 
    text-decoration:none;
    color: $dark-blue;
    &:hover {
        text-decoration: underline;
    }
}

p, h1 {
    margin-bottom: 15px;
    padding: 0 20px;
}

h1 {
    font-size: 18px;
    line-height: 27px;
    & span {
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
    }
}

/* -----------------------------------------------------------------------------
    Layout
----------------------------------------------------------------------------- */

html {
    height: 100%;
}

body {
    font: 300 normal 16px/21px "open-sans", Helvetica, Arial, sans-serif;
    height: 100%;
    background: $light-brown;
}

header, section {
    width: 1280px;
    margin: auto;
}

header {
    height: 200px;
    text-align: center;

    & img {
        margin-top: 63px;
    }
}

footer {
    width: 1169px;
    margin:  80px auto 150px auto;
}

/* -----------------------------------------------------------------------------
    Carta
----------------------------------------------------------------------------- */

#carta {
    height: 766px;
    width: 1169px;
    margin: auto;
    display: block;
    background-image: url("../images/carta.png"), url("../images/cadre.png");
    background-position:  -46px 12px, 0 0;
    background-repeat: no-repeat;
    position: relative;
}

#carta .content {
    width: 780px;
    position: absolute;
    top: 52%;
    left: 50%;
    height: 100px;
    margin-top: -70px; /* account for padding and border if not using box-sizing: border-box; */
    margin-left: -405px; /* account for padding and border if not using box-sizing: border-box; */
}

#carta svg {
    width: 100%;
    height: 100%;
}

#carta svg.nouage {
    fill: #0086E9;
}

#carta p {
    color: $dark-blue;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;

    &.small {
        font-size: 15px;
    }
}

#carta .msg {
    display: none;
    color: $dark-blue;
    width: 500px;
    margin: auto;
    padding-top: 45px;
    line-height: 26px;
}

#carta form {
    width: 280px;
    margin: auto;
    margin-top: 20px;
}

#carta form input[type="text"] {
    width: 100%;
    height: 40px;
    background: #fff;
    border: solid 2px $dark-blue;
    font-size: 18px;
    padding: 0 5px;
    margin-bottom: 20px;
}

#carta form input[type="button"] {
    -webkit-appearance: none;
    width: 132px;
    height: 40px;
    font-size: 18px;
    border: none;
    padding: 8px 0px;

    &:hover { cursor:pointer; }
}

#carta form input[type="button"]:nth-child(3) { 
    background-color:$dark-blue; color:#fff; border:solid 2px $dark-blue; 
    //&:hover { background-color:$light-blue; }
}

#carta form input[type="button"]:nth-child(2) { 
    background-color:#fff; color:$dark-blue; margin-right:10px; border:solid 2px $dark-blue; 
    //&:hover { border-color:solid 2px $light-blue; }
}

/* -----------------------------------------------------------------------------
    Blabla
----------------------------------------------------------------------------- */

#blabla {
    width: 920px;
    margin: auto;
    @include clearfix;
    text-align: center;
    color: #666;
}

#blabla h2 {
    height: 59px;
    width: 286px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 21px;
    color: $dark-blue;
    font-weight: 500;
    padding-top: 25px;
    background-image: url("../images/h2.jpg");
}

#blabla h2.arg { background-image:url("../images/h2-arg.jpg") }

#blabla .column {
    width: 50%;
    float: left;

    & p {
        width: 360px;
        margin: auto;
        margin-bottom: 50px;    
    }
}

#blabla h3 {

    margin-bottom: 15px;

    & svg path,
    & svg polygon,
    & svg rect {
        fill: $dark-blue;
        stroke-width: "4";
    }
}

footer {
    height: 28px;
    background: url("../images/ruban.png") repeat-x;
}